force-app/main/default/flows/Copado_Update_Rally_Hierarchicalrequirement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Update Hierarchicalrequirement in Rally</description>
        <name>Update_Rally_Hierarchicalrequirement</name>
        <label>Update Rally Hierarchicalrequirement</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <actionName>CopadoRallyApi</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>usToUpdate</name>
            <value>
                <elementReference>TriggeredUserStories</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_TriggeredUS_to_List</name>
        <label>Add TriggeredUS to List</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>TriggeredUserStories</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Rally_Hierarchicalrequirement</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Copado Update Rally Hierarchicalrequirement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copado Update Rally Hierarchicalrequirement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>(1 OR 2 OR ( 3 AND 4)) AND 5 AND 6</filterLogic>
        <filters>
            <field>copado__Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>copado__User_Story_Title__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Notes__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Notes__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>copado__Project__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>External_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>copado__User_Story__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Add_TriggeredUS_to_List</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TriggeredUserStories</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>copado__User_Story__c</objectType>
    </variables>
</Flow>
